:root {
	--cor-azul: #6da9de;
	--cor-rosa: #982f81;
}

body {
	font-family: 'Dosis';
	font-size: 20px;
}

.container {
	text-align: center;
}

/***********************************************************
* Title
/***********************************************************/

.title {
	color: #fff;
	display: inline-block;
	padding: 5px 20px;
	background-color: var(--cor-rosa);
	font-weight: bold;
	margin-bottom: 30px;
	transform: skew(-20deg);
	position: relative;
	z-index: 99;
}

.title > span {
	display: inline-block;
	transform: skew(20deg);
}

/***********************************************************
* Header
/***********************************************************/

.header {
	background-image: url(../img/logo.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}

/***********************************************************
* Evento
/***********************************************************/

.evento {
	padding: 20px 0;
	background-color: var(--cor-azul);
	color: #fff;
}

/***********************************************************
* Palestras / Palestrantes
/***********************************************************/

.palestras {
	padding: 40px 0;
}

.palestrante {
	transition: all .3s;
}

.palestrante:hover {
	background-color: #f4f4f4;
	transform: translateY(15px);
}

.bio-palestrante {
	font-size: 16px;
}

.img-palestrante {
	margin-top: 10px;
}

/***********************************************************
* PProgramacao
/***********************************************************/

.programacao {
	background-color: var(--cor-azul);
	text-align: center;
	color: #fff;
	padding: 40px 0;
}

/***********************************************************
* Mapa
/***********************************************************/

.mapa {
	/*background-color: var(--cor-azul);*/
	padding: 0;
	height: 450px;
}

#map {
	/*width: 50vw;*/
	top: -130px;
	height: 450px;
}

/***********************************************************
* Inscrição
/***********************************************************/

.incricao {
	background-color: var(--cor-azul);
	color: #fff;
}

label {
	text-align: left;
}

.incricao input, 
.incricao select, 
.incricao textarea {
	color: #bec1c6;
}

textarea {
	min-height: 8.5rem;
}

.botao-enviar, .botao-enviar:hover {
	background-color: var(--cor-rosa);
	border-color: var(--cor-rosa);
	color: #fff;
}
